<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style src="static/css/lib/bootstrap.css"> </style>
    <style src="static/css/lib/bootstrap-grid.css"> </style>
    <style src="static/css/lib/bootstrap-reboot.css"> </style>
    <style src="static/css/custom.css"> </style>
    <script src="static/js/lib/bootstrap.js"></script>
    <script src="static/js/lib/jquery-3.4.1.min.js"></script>
</head>
<body>
    <header>
        Test
    </header>
    <content class="container">
        Test
    </content>
    <footer>

    </footer>
</body>
</html>